.accordion {
    .headers {
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        cursor: pointer;
        display: inline-flex;
        text-align: left;
        padding: 15px;
        width: 100%;
    }

    .headers-active {
        background-color: #06cfe5;
        color: #FFF;
        cursor: pointer;
        display: inline-flex;
        text-align: left;
        padding: 15px;
        width: 100%;
    }

    .headers > #title, .headers-active > #title {
        width: 100%;
    }

    .options {
        text-align: left;
        width: 73.5%;
        margin-left: 30px;
        padding: 10px;
        cursor: pointer;
        transition: height 2s;
    }

    .headers:hover, .options:hover{
        color: #FFF;
        background-color: #06cfe5;
    }
}