.details-header {
  text-align: left;
  padding-bottom:50px;
  .property-manager {
    opacity: 0.4;
    font-size: 18px;
    padding: 10px 0 0;
  }
  .button-container {
    text-align: right;
    .btn {
      margin-left: 15px;
    }
  }
}
