.page-footer {
  .heading {
    padding-left: 20px;
    display: block;
  }
  .social-media-section {
    display: inline-flex;
    padding-left: 20px;
  }
  .social-media-networks {
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
  }
  .social-media-button {
    cursor: pointer;
    margin: 2px;
  }
  .social-media-button:hover {
    opacity: 0.75;
  }
  .social-media-count {
    margin-top: 3px;
    font-size: 12px;
  }
}
