.page-footer {
    .social-media-section {
        display: inline-flex;
        float: right;
        margin-right: 10px;
    }
    .social-media-button {
        cursor: pointer;
        margin: 2px;
    }
}