#header-bar {
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #2D324C;
    box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.4);
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
}

.links {
  text-align: center;
  a {
    display: inline-block;
    height: 69px;
    color: white;
    padding: 28px 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    &.active {
      border-bottom: 3px solid $blue;
    }
  }

  .pending-badges {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 10px;
    color: $white;
    line-height: 22px;
    text-align: center;
    background: $light-blue;

  }
}
.login-section {
    position: absolute;
    top: 0px;
    right: 0px;
    img {
      margin: 19px;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
    .btn {
      margin: 12px;
    }
}
.profile-section {
    display: inline-flex;

    .profile-pic {
        border-radius: 40px;
        margin: 20px 10px;
        cursor: pointer;
    }
    .search {
        margin: 28px 10px;
        cursor: pointer;
    }
    .truck {
        margin: 28px 10px;
        cursor: pointer;
    }
}
.sibi-logo {
    width: 273px;
    cursor: pointer;
}
