#overlay-container {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
    .close-section {
        height: 100%;
        width: 100%;
    }
}