.select-box {
    .input {
        cursor: pointer;
        display: inline-flex;
        background-color: $white;
    }

    .option {
        cursor: pointer;
    }

    .select-options {
        display: none;
    }

    .select-options-active {
        display: block;
        position: absolute;
        box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.5);
        background-color: #FFF;
        max-height: 100px;
        overflow-y: scroll;
        width: 100px;
        .option {
            text-align: center;
            padding: 12px;
            border-bottom: 1px solid $border-gray;
            &:hover {
                background-color: $medium-gray;
            }
        }
    }

    .arrow-indicator {
        padding-left: 15px;
    }

    .disabled {
        display: none;
    }
}