#edit-product-overlay {
    background-color: $background-gray;
    border-radius: 5px;
    border: 1px solid $border-gray;
    box-shadow: 0px 2px 7px 0px $border-gray;
    width: 490px;
    margin: 5em auto;
}