//Orders Page Specific Styling
#orders-page {
    padding-top: 49px;
    .table {
        thead {
            td {
                //PM Office
                &:nth-child(1) {
                    width: 9%;
                    @media (min-width: 1599px) {
                        width: 6%;
                    }
                }
                //Property ID
                &:nth-child(2) {
                    width: 9%;
                    @media (min-width: 1599px) {
                        width: 16%;
                    }
                }
                //Property Address
                &:nth-child(3) {
                    width: 13%;
                    @media (min-width: 1599px) {
                        width: 17%;
                    }
                }
                //Occupancy
                &:nth-child(4) {
                    width: 9%;
                    @media (min-width: 1599px) {
                        width: 8%;
                    }
                }
                //Ordered By
                &:nth-child(5) {
                    width: 11%;
                    @media (min-width: 1599px) {
                        width: 8%;
                    }
                }
                //GE Order #
                &:nth-child(6) {
                    width: 10%;
                }
                //Order Date
                &:nth-child(7) {
                    width: 12%;
                    @media (min-width: 1599px) {
                        width: 8%;
                    }
                }
                //Cost
                &:nth-child(8) {
                    width: 8%;
                }
                //Status
                &:nth-child(9) {
                    width: 10%;
                }
                //Approval Column
                &:nth-child(10) {
                    width: 9%;
                }
            }
        }
        tbody {
            td {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 200px;
                &.approved {
                    color: $green;
                }
            }
        }
    }
}