#process-orders-page {
    .user-table {
        
    }
    .occupancy-table {
        display: inline-block;
        width: 60%;
    }
    .office-table {
        display: inline-block;
        width: 40%;
    }
}