#products-page {
    padding-top: 49px;
    .react-tabs {
        ul {
            text-align: left;
        }
    }
    td {
        &.approve {
            text-align: right;
        }
    }
    .react-tabs__tab-list {
        background: $table-header-gray;
    }
    .table-card {
        .card-header {
            padding-bottom: 13px;
        }
    }
    .products-table {
        tbody {
            td {
                &:nth-child(1) {
                    width: 25%;
                }
            }
        }
    }
}