#products-page {
    .react-tabs {
        ul {
            text-align: left;
        }
    }
    td {
        &.approve {
            text-align: right;
        }
    }
    .react-tabs__tab-list {
        background: $table-header-gray;
    }
    .table-card {
        .card-header {
            padding-bottom: 13px;
        }
    }
}