form {
    input, select {
        font-size: 14px;
        margin: 8px;
        padding: 12px;
        width: 200px;
        height: 46px;
    }

    .button {
        background-color: #06cfe5;
        color: #FFF;
        font-size: 14px;
        font-weight: bold;
    }
}

table {
    text-align: left;
    width: 100%;

    thead {
        background-color: rgba(50, 50, 50, 0.4);
        font-weight: bold;
    }

    tr {
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
    }

    td {
        padding: 10px;
    }
}