form {
    input, select {
        font-size: 14px;
        margin: 8px;
        padding: 12px;
        width: 200px;
        height: 46px;
    }

    .button {
        background-color: #06cfe5;
        color: #FFF;
        font-size: 14px;
        font-weight: bold;
    }
}