$blue-color: #06cfe5;
$gray-color: rgba(50,50,50,0.1);
$white: #FFF;

.submit-btn {
    background-color: $blue-color;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px;
    width: 200px;
    height: 46px;
    font-size: 18px;

    margin: 20px auto;
    padding-top: 14px;
}

.cancel-btn {
    border: 1px solid $gray-color;
    border-radius: 5px;
    color: $blue-color;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 46px;
    font-size: 18px;

    margin: 20px auto;
    padding-top: 14px;
}

.text-link {
    color: $blue-color;
    cursor: pointer;
}