.box {
  border: 1px solid $border-gray;
  border-radius: 3px;
  .header {
    text-align: left;
    background: $light-gray;
    .actions {
      padding: 30px;
    }
    .btn {
      float: right;
    }
  }
}
