.btn {
  padding: 14px 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 3px;
  transition-duration: 0.3s;
  height: 46px;
  &:hover {
    opacity: 0.8;
  }
  &.blue {
    background-color: $blue;
    color: white;
  }
  &.fill {
    width: 100%;
  }
}

.white-btn {
  &:hover {
    background: $gray-color;
  }
}

.text-link {
    color: $light-blue;
    cursor: pointer;
}