// Primary Text

// Secondary Text

// Lines And Borders

// Background
$black: #000;
$white: #fff;

// Navigation
$logo-blue: #00acf6;
$logo-red: #ed0089;
$logo-yellow: #fef400;

// Others
$blue: #10cee4;
