//Primary Text
$dark-gray: #44485B;
$green: #22D8AF;

//Secondary Text
$medium-dark-gray: #8288A0;
$blue: #10CEE4;
$light-blue: #06cfe5;
$off-text: #A9B5BA;

//Icons
$medium-gray: #E0E8EB;
$red: #EA7070;

//Lines And Borders
$border-gray: #E7EDEF;
$medium-light-gray: #F4F7Fb;
$light-gray: #F3F3F3;

//Background
$header-background: #2D324C;
$background-gray: #F4F7FB;
$table-header-gray: #F9FAFC;

//Others
$gray-color: rgba(50,50,100,0.1);
$white: #FFF;
