input, .select-box {
  border: 1px solid $border-gray;
  background: white;
  height: 46px;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
}

.input-container {
    text-align: left;
    display: inline-block;
    margin-right: 20px;
    label {
        display: block;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        margin-bottom: 6px;
    }
    input {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }
}

.search-wrapper {
    position: relative;
    .search-icon {
        position: absolute;
        top: 16px;
        left: 13px;
        z-index: 1;
    }
    .search-input {
        position: relative;
        input {
            padding-left: 33px;
        }
    }
}

.replace-form {
    width: 400px;
}