#admin-table {
  max-width: 90%;
  border-radius: 7px;
  margin: 40px auto;
  border: 1px solid #ddd;
  div {
    font-family: 'Lato', sans-serif;
    color: #4B4D62;
  }
  img {
    width: 150px;
    vertical-align: top !important;
  }
  table {
    width: 100%;
    padding: 0 20px;
    line-height: 1.5;
  }
}
.table-header {
  font-weight: 700;
  background: #F9FAFC;
  padding: 24px 0 24px 18px;
}

.table-cell {
  padding: 40px 0;
}
.table-cell-title {
  font-weight: 700;
  font-size: 20px;
}
.table-cell-details {
  color: #ddd !important;
}

#orders-page {
  div {
    font-family: 'Lato', sans-serif;
    color: #4B4D62;
  }
  .details-header {
    width: 90%;
    margin: 80px auto 40px;
    .header-property {
      width: 55%;
      display: inline-block;
      text-align: left;
      .property-address {
        width: 100%;
        font-size: 25px;
        line-height: 2.2;
        font-weight: 700;
      }
      .property-manager {
        width: 100%;
        color: #ddd;
        font-weight: 700;
      }
    }
    .button-container {
      width: 45%;
      display: inline-block;
      text-align: right;
      margin-bottom: 15px;
      .button {
        text-align: center;
        display: inherit;
        margin-left: 40px;
        background: #00D2E8;
        width: 160px;
        padding: 21px 0;
        color: white;
        border-radius: 5px;
        font-weight: 400;
      }
    }
  }

  .box {
    background: #F9FAFC;
    border: 1px solid #ddd;
    max-width: 90%;
    border-radius: 7px;
    margin: 40px auto;
    text-align: left;
    padding: 24px 0 24px 18px;
    .title {
      display: inline;
      font-weight: 700;
    }
    .body {
      display: inline;
    }
  }
}
